
body{
  margin:0;
  text-align: center;
  font-family: sans-serif;
  background-color: #bb8082;

}
.Title{
  color: white;


}
button{
  font-size: 5rem;
  background-color: #bb8082;
  border-style: none;
}
.moveSelection{
  display: flex;
  justify-content: center;
  grid-gap: 3rem;
  grid-column: 1/12;
}
.lastMove{
  margin-top: 2rem;
  grid-column: 1/12;
  grid-row: span 2;
  font-size: 1.5rem;
}
.scores{
  color: white;
  font-size: 1.25rem;
  margin: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 900;
  display: inline-block;
}

button:hover{
  font-size: 6rem;
}
a{
  text-decoration: none;
}

.gameEnd{
  font-size: 5rem;
}
footer{
  color: white;
  position:fixed;
  bottom: 0;
  margin:0;
  width: 100%
}
